<!-- your html code here -->
<div class="card justify-content-center">
  <p><h1>Contact</h1></p>
  <P>Words words words</P>
  <div class="contact-information">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="mb-3 d-flex">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Please enter your message here..." rows="3"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>