<!-- your html code here -->
<p><h2>Contact</h2></p>
<P>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</P>
<div class="justify-content-center">
  <div class="container justify-content-center">
    <div class="card justify-content-center w-50 mb-5 bg-light">
      <div class="contact-information mt-3">
        <div class="row d-flex justify-content-end me-1">
          <div class="mb-3 col-3">
              <label for="exampleFormControlInput1" class="form-label ms-4 fw-bold">Your E-Mail</label>
          </div>
          <div class="col-9">
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email">
          </div>    
        </div>
  
        <div class="row d-flex justify-content-end me-1">
          <div class="col-3">
            <label for="exampleFormControlTextarea1" class="form-label ms-4 fw-bold">Your Message</label>
          </div>
          <div class="col-9">
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Please enter your message here..." rows="3"></textarea>
          </div>
        </div>
        <div class="row justify-content-end mt-2 mb-3 me">
          <div class="col-2" style="margin-right: 3px;">
            <button type="button" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>