<!-- your html code here -->
 <div>
    <div class="d-flex">
    <h2 class=".text-white">This First Heading </h2> <h2 class=".text-secondary">Will Catch Your Eye</h2>
    </div>
    <div>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Present commodo cursus magna, vel scelerisque nist consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        <img src="https://medias.artmajeur.com/standard/10078066_iiza36ctsfu.jpg?v=1739429814" alt="Walter_white">
    </div>
</div>