<!-- your html code here -->
<div class="row bg-white border-top py-5 m-auto">
    <div class="col-1"></div>
    <div class="col-7">
        <h1 class="display-3">
            <strong>
                <span>This First Heading</span>
                <span class="text-secondary">Will Catch Your Eye</span>
            </strong>
        </h1>
        <p class="fs-4">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Present commodo cursus magna, vel scelerisque nist consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-3">
        <img src="https://img.artpal.com/525582/7-23-6-28-2-2-24m.jpg" alt="Walter_white" class="float-right rounded-circle w-100">
    </div>
    <div class="col-1"></div>
</div>
