<!-- your html code here -->
 <div class="row bg-white border-top p-5 w-75 m-auto">
    <div class="col-8">
        <h1>
            <span>This First Heading</span>
            <span class="text-secondary">Will Catch Your Eye</span>
        </h1>
        <p class="fs-4">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Present commodo cursus magna, vel scelerisque nist consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <div class="col-4">
        <img src="https://medias.artmajeur.com/standard/10078066_iiza36ctsfu.jpg?v=1739429814" alt="Walter_white" class="float-right rounded-circle w-100">
    </div>
</div>